body
    font-family monospace

a, .add-filter, .add-group-by
    cursor pointer

span.remove
    color: #f55
    margin-right 10px
    cursor pointer

.kpis-container
    display flex
    align-items center
    flex-wrap wrap

.kpi
    flex-grow 1
    border 1px solid #CCC
    margin 5px
    padding 15px
    text-align center
    border-radius 5px

.kpi.interval_5
    background-color #CCFFCC

.kpi.interval_4
    background-color #EEFFEE

.kpi.interval_3
    background-color #FFE

.kpi.interval_2
    background-color #FFEEEE

.kpi.interval_1
    background-color #FFCCCC

.tags-container
    display flex
    align-items center
    flex-wrap wrap

.tag
    flex-grow 1
    border 1px solid #CCC
    text-align center
    margin 3px
    padding 3px
    background-color #EEE
    &:hover
        cursor pointer

.tag-label
    font-weight: bold

.filter-label
    margin-bottom 5px
    font-weight bold

div.group-by, div.filter
    margin-bottom 5px
