each tags, pool in groupBy
    div.group-by
        span= pool
        each tag in tags
            span.tag
                span.remove.remove-group-by(data-by={pool: pool, tag: tag}) [X]
                span= tag
