.form.form-horizontal
    .form-group
        .col-md-6
            .row
                label.control-label.col-md-4(for="started-after")   Started after
                .col-md-8
                    input.form-control(type="datetime-local", id="started-after")
        .col-md-6
            .row
                label.control-label.col-md-4(for="started-before")   Started before
                .col-md-8
                    input.form-control(type="datetime-local", id="started-before")
    #drill-down
    #group-by
    .row
        .col-md-6.col-md-offset-6
                .row
                    .col-md-12
                        button#filter-button.btn.btn-default.pull-right(type="button")  Filter!
        
        
