h3  Screenshots
div.thumbnails
    div
        each screenshot, pos in screenshots.reverse()
            div.thumbnail(class=(pos === 0 ? 'selected': ''))
                img(
                    src=screenshot.thumbnail
                    data-src=screenshot.fullsize
            )
div.fullsize
    img.fullsize(src=lastScreenshot.fullsize)
